<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>AddEquipmentServlet</servlet-name>
        <servlet-class>com.ex.qi.servlet.AddEquipmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddEquipmentServlet</servlet-name>
        <url-pattern>/AddEquipmentServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddEquipmentInfoServlet</servlet-name>
        <servlet-class>com.ex.qi.servlet.AddEquipmentInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddEquipmentInfoServlet</servlet-name>
        <url-pattern>/AddEquipmentInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>QueryPueServlet</servlet-name>
        <servlet-class>com.ex.qi.servlet.QueryPueServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QueryPueServlet</servlet-name>
        <url-pattern>/QueryPueServlet</url-pattern>
    </servlet-mapping>
</web-app>