<component name="ArtifactManager">
  <artifact type="exploded-war" name="Server">
    <output-path>$PROJECT_DIR$/out/artifacts/Server</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="PseudoProgram/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="PseudoProgram" />
        </element>
        <element id="directory" name="lib">
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/jdbc.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/gson-2.5.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/RXTXcomm.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/sqljdbc4.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/ezmorph-1.0.6.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/commons-lang-2.5.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/json-lib-2.4-jdk15.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/commons-logging-1.1.1.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/commons-beanutils-1.8.0.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/commons-collections-3.2.1.jar" />
          <element id="file-copy" path="E:/apache-tomcat-8.0.37/lib/servlet-api.jar" />
        </element>
      </element>
    </root>
  </artifact>
</component>